<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	metadata-complete="false"  >
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>WXservlet</servlet-name>
  	<servlet-class>WXservlet.WechatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WXservlet</servlet-name>
  	<url-pattern>/wx</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>getJSKSign</servlet-name>
  	<servlet-class>WXservlet.getJSKSign</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>getJSKSign</servlet-name>
  	<url-pattern>/getJSKSign</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>GoServlet</servlet-name>
  	<servlet-class>WXservlet.GoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GoServlet</servlet-name>
  	<url-pattern>/go</url-pattern>
  </servlet-mapping>
  
    
  <servlet>
  	<servlet-name>DemoServelt</servlet-name>
  	<servlet-class>WXservlet.DemoServelt</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DemoServelt</servlet-name>
  	<url-pattern>/demos</url-pattern>
  </servlet-mapping>
  
  
  <servlet>  
        <servlet-name>initServlet</servlet-name>  
        <servlet-class>  
            WXservlet.InitServlet  
        </servlet-class>  
        <!-- 配置获取access_token所需参数appid和appsecret -->  
        <init-param>  
            <param-name>appid</param-name>  
            <param-value>wxd42462bf296501b1</param-value>  
        </init-param>  
        <init-param>  
            <param-name>appsecret</param-name>  
            <param-value>35104c6c8a3a2f5cebccb1a5b6f745e3</param-value>  
        </init-param>  
        <load-on-startup>0</load-on-startup>  
    </servlet>  
  
  
  </web-app>
